**/node_modules
**/npm-debug.log
**/yarn-error.log

**/dist
**/out
**/.next
**/build

docker-compose.yml
.dockerignore
**/Dockerfile
**/Dockerfile.*

**/.env
**/.env.*
**/.vscode
**/.idea
**/.git
**/.gitignore

**/logs
**/*.log
**/tmp
**/.cache